* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.links-container { 
    display: flex;
    flex-direction: column;
}

.link-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}