footer {
    position: relative;
    bottom: 0;
    width: 100%;
    color: rgba($text-primary-color, 0.7);
    padding: $header-footer-side-padding;
    background-color: $components-background-color;
}